*{
    margin: 0px;
    color: white;
}
html{
    height: 100%;
}
body{
    background-color: black;
    height: 100%;
}

#calc-container{
    margin: 0px 20%;
    background-color: #F6E6D9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom,#FD32C9,#7F4AF0);
    width: 40%;
    height: 80%;
    border-radius: 10px;
}
#calculator .row{
    flex-grow: 1;
}
.row{
    display: flex;
    width: 100%;
}
/* aligning all buttons */

.row button{
    flex: 1;
    background-color: rgba(255, 255, 255, 0.204);
    border-color: transparent;
    margin: 1.5px;
    font-size: 20px;
}

/* input space  */

#calculator input{
    flex: 2;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    text-align: right;
}
#calculator input:focus{
    outline:none;
}

/* updating the last row separately */
#zero{
    flex: 2 ;
}